@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/avenir.woff") format("woff"); }

@font-face {
  font-family: "Avenir Bold";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/avenir-bold.woff") format("woff"); }

@font-face {
  font-family: "Hoefler Text";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/hoefler-text.woff") format("woff"); }

@font-face {
  font-family: "Hoefler Text Black";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/hoefler-text-black.woff") format("woff"); }

@font-face {
  font-family: "Hoefler Text Italic";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/hoefler-text-italic.woff") format("woff"); }

@font-face {
  font-family: "Menlo";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/menlo.woff") format("woff"); }

p {
  font-size: 20px; }

p.avenir {
  font-family: "Avenir", sans-serif; }

p.avenir-bold {
  font-family: "Avenir", sans-serif;
  font-weight: bold; }

p.hoefler-text {
  font-family: "Hoefler Text", serif; }

p.hoefler-text-black {
  font-family: "Hoefler Text", serif;
  font-weight: bold; }

p.hoefler-text-italic {
  font-family: "Hoefler Text Italic", serif;
  font-style: italic; }

p.menlo {
  font-family: "Menlo", monospace; }
